# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/*
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode/*
.factorypath

# OSX
.DS_Store

# Python
__pycache__
.mypy_cache
.pytest_cache
dist
.venv
.tmp
.vscode
.cache
.sqlite
api.env
.env

# Minio
.minio.sys
data/askem-staging-data-service
migrations/seeds/files/*.csv
