SQL_URL=rdb
SQL_PORT=5432
SQL_USER=dev
SQL_PASSWORD=dev
DKG_URL=http://34.230.33.149
DKG_API_PORT=8771
DKG_DESC_PORT=8772
AWS_ACCESS_KEY_ID=miniouser
AWS_SECRET_ACCESS_KEY=miniopass
DATASET_STORAGE_BASE_URL=s3://datasets/
STORAGE_HOST=http://minio:9000
AWS_REGION=us-east-1
OPENAI_KEY=sk

# ElasticSearch env vars
ES_HOST=elasticsearch
ES_PORT=9200
