SQL_URL=rdb
SQL_PORT=5432
SQL_USER=dev
SQL_PASSWORD=dev
SQL_DB=askem
DKG_URL=http://34.230.33.149
DKG_API_PORT=8771
DKG_DESC_PORT=8772
AWS_ACCESS_KEY_ID=miniouser
AWS_SECRET_ACCESS_KEY=miniopass
DATASET_STORAGE_BASE_URL=s3://datasets/
STORAGE_HOST=http://minio:9000
S3_BUCKET=askem-staging-data-service
AWS_REGION=us-east-1
OPENAI_KEY=sk
NEO4J_AUTH=neo4j/password

MINIO_USER=miniouser
MINIO_PWD=miniopass

# ElasticSearch env vars
ES_URL="http://elasticsearch:9200"
ELASTIC_PASSWORD=tdsElasticPass
KIBANA_PASSWORD=tdsKibanaPass
STACK_VERSION=8.7.1
CLUSTER_NAME=tds-docker-cluster
LICENSE=basic
KIBANA_PORT=5601
MEM_LIMIT=1073741824
#COMPOSE_PROJECT_NAME=tds-elasticsearch